/*
Error: Invalid Windows-1252 character "\xEE"
        on line 49 of D:/Guillaume/Desktop/Internet Explorer/PROJECTS/KEN3D/3Dify/src/main/resources/static/sass/custom/plugins/icons/_unicons.scss
        from line 5 of D:/Guillaume/Desktop/Internet Explorer/PROJECTS/KEN3D/3Dify/src/main/resources/static/sass/custom/plugins/_icons.scss
        from line 10 of D:/Guillaume/Desktop/Internet Explorer/PROJECTS/KEN3D/3Dify/src/main/resources/static/sass/icons.scss

44:  
45:   /* Uncomment for 3D effect *\/
46:   /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); *\/
47: }
48:  
49: .uil-0-plus:before { content: '\e800'; } /* '' *\/
50: .uil-10-plus:before { content: '\e801'; } /* '' *\/
51: .uil-12-plus:before { content: '\e802'; } /* '' *\/
52: .uil-13-plus:before { content: '\e803'; } /* '' *\/
53: .uil-16-plus:before { content: '\e804'; } /* '' *\/
54: .uil-17-plus:before { content: '\e805'; } /* '' *\/

Backtrace:
D:/Guillaume/Desktop/Internet Explorer/PROJECTS/KEN3D/3Dify/src/main/resources/static/sass/custom/plugins/icons/_unicons.scss:49
D:/Guillaume/Desktop/Internet Explorer/PROJECTS/KEN3D/3Dify/src/main/resources/static/sass/custom/plugins/_icons.scss:5
D:/Guillaume/Desktop/Internet Explorer/PROJECTS/KEN3D/3Dify/src/main/resources/static/sass/icons.scss:10
uri:classloader:/gems/sass-3.7.4/lib/sass/util.rb:1090:in `block in find_encoding_error'
org/jruby/RubyArray.java:1792:in `each'
org/jruby/RubyEnumerable.java:1194:in `each_with_index'
uri:classloader:/gems/sass-3.7.4/lib/sass/util.rb:1086:in `find_encoding_error'
uri:classloader:/gems/sass-3.7.4/lib/sass/util.rb:820:in `check_sass_encoding'
uri:classloader:/gems/sass-3.7.4/lib/sass/engine.rb:444:in `check_encoding!'
uri:classloader:/gems/sass-3.7.4/lib/sass/engine.rb:400:in `_to_tree'
uri:classloader:/gems/sass-3.7.4/lib/sass/engine.rb:321:in `to_tree'
uri:classloader:/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
uri:classloader:/gems/sass-3.7.4/lib/sass/stack.rb:88:in `block in with_import'
uri:classloader:/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
uri:classloader:/gems/sass-3.7.4/lib/sass/stack.rb:88:in `with_import'
uri:classloader:/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
uri:classloader:/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
uri:classloader:/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
uri:classloader:/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
uri:classloader:/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
uri:classloader:/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
uri:classloader:/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
uri:classloader:/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
org/jruby/RubyArray.java:2577:in `map'
uri:classloader:/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
uri:classloader:/gems/sass-3.7.4/lib/sass/stack.rb:88:in `block in with_import'
uri:classloader:/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
uri:classloader:/gems/sass-3.7.4/lib/sass/stack.rb:88:in `with_import'
uri:classloader:/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
uri:classloader:/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
uri:classloader:/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
uri:classloader:/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
uri:classloader:/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
uri:classloader:/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
uri:classloader:/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
uri:classloader:/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
org/jruby/RubyArray.java:2577:in `map'
uri:classloader:/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
uri:classloader:/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
uri:classloader:/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
uri:classloader:/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
uri:classloader:/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
uri:classloader:/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
uri:classloader:/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
uri:classloader:/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:161:in `visit'
uri:classloader:/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
uri:classloader:/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in `css_tree'
uri:classloader:/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
uri:classloader:/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
uri:classloader:/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
uri:classloader:/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
uri:classloader:/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
org/jruby/RubyArray.java:1792:in `each'
uri:classloader:/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
uri:classloader:/gems/sass-3.7.4/lib/sass/plugin.rb:82:in `update_stylesheets'
<script>:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid Windows-1252 character \"\xEE\"\A         on line 49 of D:/Guillaume/Desktop/Internet Explorer/PROJECTS/KEN3D/3Dify/src/main/resources/static/sass/custom/plugins/icons/_unicons.scss\A         from line 5 of D:/Guillaume/Desktop/Internet Explorer/PROJECTS/KEN3D/3Dify/src/main/resources/static/sass/custom/plugins/_icons.scss\A         from line 10 of D:/Guillaume/Desktop/Internet Explorer/PROJECTS/KEN3D/3Dify/src/main/resources/static/sass/icons.scss\A \A 44:  \A 45:   /* Uncomment for 3D effect */\A 46:   /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */\A 47: }\A 48:  \A 49: .uil-0-plus:before { content: '\e800'; } /* '' */\A 50: .uil-10-plus:before { content: '\e801'; } /* '' */\A 51: .uil-12-plus:before { content: '\e802'; } /* '' */\A 52: .uil-13-plus:before { content: '\e803'; } /* '' */\A 53: .uil-16-plus:before { content: '\e804'; } /* '' */\A 54: .uil-17-plus:before { content: '\e805'; } /* '' */"; }
